.main-ctgr {
  height: 45px;
  display: flex;
  gap: 30px;
}

.main-ctgr .small-ctgr {
  flex: 1;
  border: 4px solid slateblue;
  border-radius: 20px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}



h1 {
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
} 
