h1 {
	text-align: center;
	font-size: 50px;
	font-weight: 500;

}

table {
	margin: 20px auto;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 2px solid black;
	text-align: center;
}

th {
	background-color: #ccc;
}

form {
	margin: 20px auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin: 20px 0;
}

input {
	margin-left: 10px;
}



