h1 {
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	color: #1E90FF;
  }
  
  table {
	margin: 20px auto;
	border-collapse: collapse;
  }
  
  th,
  td {
	padding: 10px;
	border: 2px solid black;
	text-align: center;
  }
  
  th {
	background-color: darkgray;
  }
  
  form {
	margin: 20px auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  label {
	margin: 10px 0;
	
  }
  
  input {
	
	margin-left: 10px;
	border: 2px solid #1E90FF;
	border-radius: 5px;
	padding: 5px;
  }
  
  button {
	margin-top: 10px;
	background-color: #0F52BA;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	
  }
  
  button:hover {
	background-color: #4169E1;
  }
  
/* 다크모드 테마 */
body.dark-mode {
	background-color: #222;
	color: #fff;
	
  }
  
  /* 다크모드 버튼 */
  .dark-mode-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #0F52BA;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
  }
  
 item-search input {
	
	margin-left: 10px;
	border: 2px solid #1E90FF;
	border-radius: 5px;
	padding: 5px;
  }